/* google fonts add */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* carousel area start */
.darker:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
}
.carousel-caption {
    width: 50%;
    top: 20%;
    text-align: left;
}
/* carousel area end */
/* package area start */
.card{
    max-width: 292px;
}
.card .h2, .h5{
    font-family: 'Roboto', sans-serif;
}
/* package area end */
/* gallery area start*/
.gallery{
    padding: 50px 0;
}
.gallery img{
    max-width: 100%;
}
.gallery img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
}
#gallery-modal .modal-img{
    width: 100%;
}
/* gallery area end */
